* {
	box-sizing: border-box;
}
img.profile-pic {
    width: 50%;
}
section#title {
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}
aside {
    width: 400px;
    position: absolute;
    background: #660000; 
    color: #fff; 
    padding: 30px; 
    height: 100%;
}
body {
    max-width: 1280px; 
    width: 100%;
    margin: 0 auto; 
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
h1.name {
    font-size: 2em;
    font-weight: 100;
    margin: 20px 0 5px;
}
span.accent {
    font-weight: bold;
}
h4.job-title {
    margin: 5px 0;
    font-weight: 100;
}
h2 {
    text-transform: uppercase;
}
#profile p {
    font-size: 13px;
    margin-left: 20px;
}
section#content { 
    margin-left: 400px;
    padding: 30px;
    background-color: #F3F2F2;
}
li.web a {
    color: #fff;
    text-decoration: none;
    display: block;
}
li.location p {
    margin: 0;
}
#contact ul li {
    padding: 5px 0;
}
#contact ul li > span {
    display: inline-block;
    vertical-align: middle;
}
#professional-skills li {
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 13px;
}

#content [class^="progress-"] {
	border-color: #660000;
	margin: 4px 0;
}
#content [class^="progress-"]:before {
	background-color: #660000;
}

#personal-skills li, #proficiency li {
    display: inline-block;
    width: 50%;
    float: left;
}

#personal-skills li:nth-child(2n), #proficiency li:nth-child(2n) {
    padding-left: 25px;
}

#personal-skills li:nth-child(2n-1), #proficiency li:nth-child(2n-1) {
    padding-right: 25px;
}

.clearfix:after {
	clear: both;
	display: table;
	content: " ";
}

[class^="progress-"] {
    width: 100px;
    height: 10px;
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 4px;
    vertical-align: -1px;
    float: right;
}
[class^="progress-"]:before {
    display: block;
    content: " ";
    background: #fff;
    width: 0%;
    height: 100%;
}
.progress-10:before {
	width: 10%;
}
.progress-20:before {
	width: 20%;	
}
.progress-30:before {
	width: 30%;
}
.progress-40:before {
	width: 40%;
}
.progress-50:before {
	width: 50%;
}
.progress-60:before {
	width: 60%;
}
.progress-70:before {
	width: 70%;
}
.progress-80:before {
	width: 80%;
}
.progress-90:before {
	width: 90%;
}
.progress-100:before {
	width: 100%;
}
article.job h4, article.project h4 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 100;
}
span.company, span.project-name {
    color: #660000;
}
span.work-period, span.project-period {
    color: #777;
}
article.job p, article.project p {
    margin: 3px 0;
    color: #444;
}
#work-experience li, #projects li {
    margin-bottom: 20px;
}
span.lead {
    color: #111;
}

@media (max-width: 1280px) {
	aside {
		width: 100%;
		position: static;
		height: auto;
	}

	img.profile-pic {
		max-width: 100%;
		width: 200px;
	}

	#profile, #contact, #professional-skills {
		max-width: 600px;
		width: 100%;
		margin: 0 auto;
	}

	section#content { 
	    margin-left: 0;
	}

	#content [class^="progress-"] {
	    float: none;
	}

	#personal-skills li span, #proficiency li span {
		display: block;
	}
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }